<?xml version="1.0"?>
<configuration>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<system.webServer>
		<security/>
		<rewrite>
			<rules>
				
				<rule name="blogall" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="blog"/>
					<action type="Rewrite" url="blog/blog.aspx"/>
				</rule>
				<rule name="blogbodrum" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="blog/bodrum-izolasyonu-evinizi-sicak-tutmanin-ve-enerci-tasarrufu-saglamanin-yollari"/>
					<action type="Rewrite" url="blog/bodrum-izolasyonu-evinizi-sicak-tutmanin-ve-enerci-tasarrufu-saglamanin-yollari.aspx"/>
				</rule>
				<rule name="blogdam" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="blog/dam-izolasyonu-ev-sagligi-ve-enerci-verimliligi-İcin-onemli-adim"/>
					<action type="Rewrite" url="blog/dam-izolasyonu-ev-sagligi-ve-enerci-verimliligi-İcin-onemli-adim.aspx"/>
				</rule>
				<rule name="blogev" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="blog/evinizin-tavanini-yalitimanin-onemi-cati-izolasyonu"/>
					<action type="Rewrite" url="blog/evinizin-tavanini-yalitimanin-onemi-cati-izolasyonu.aspx"/>
				</rule>

				
				<rule name="hizmetlerall" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="hizmetler"/>
					<action type="Rewrite" url="hizmetler/hizmetler.aspx"/>
				</rule>
				<rule name="hizmetlerisi" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="isi-yalitimi"/>
					<action type="Rewrite" url="hizmetler/isi-yalitimi.aspx"/>
				</rule>
				<rule name="hizmetlerses" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="ses-yalitimi"/>
					<action type="Rewrite" url="hizmetler/ses-yalitimi.aspx"/>
				</rule>
				<rule name="hizmetlersu" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="su-yalitimi"/>
					<action type="Rewrite" url="hizmetler/su-yalitimi.aspx"/>
				</rule>
			
				
				<rule name="cerez" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="cerez-politikasi"/>
					<action type="Rewrite" url="sabit/cerez-politikasi.aspx"/>
				</rule>
				<rule name="gizlilik" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="gizlilik-politikasi"/>
					<action type="Rewrite" url="sabit/gizlilik-politikasi.aspx"/>
				</rule>
				<rule name="hakkimizda" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="hakkimizda"/>
					<action type="Rewrite" url="sabit/hakkimizda.aspx"/>
				</rule>
				<rule name="iletisim" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="iletisim"/>
					<action type="Rewrite" url="sabit/iletisim.aspx"/>
				</rule>
				<rule name="kvkk" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="kvkk-aydinlatma-metni"/>
					<action type="Rewrite" url="sabit/kvkk-aydinlatma-metni.aspx"/>
				</rule>
				<rule name="sss" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="sss"/>
					<action type="Rewrite" url="sabit/sss.aspx"/>
				</rule>
				<rule name="subeler" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="subeler"/>
					<action type="Rewrite" url="sabit/subeler.aspx"/>
				</rule>

				
				<rule name="bodrum" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="bodrum-izolasyonu"/>
					<action type="Rewrite" url="uygulamaAlanlari/bodrum-izolasyonu.aspx"/>
				</rule>
				<rule name="cati" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="cati-izolasyonu"/>
					<action type="Rewrite" url="uygulamaAlanlari/cati-izolasyonu.aspx"/>
				</rule>
				<rule name="dam" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="dam-izolasyonu"/>
					<action type="Rewrite" url="uygulamaAlanlari/dam-izolasyonu.aspx"/>
				</rule>
				<rule name="dis" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="dis-cephe-yalitim"/>
					<action type="Rewrite" url="uygulamaAlanlari/dis-cephe-yalitim.aspx"/>
				</rule>
				<rule name="endustri" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="endustriyel-bina-cati-izolasyonu"/>
					<action type="Rewrite" url="uygulamaAlanlari/endustriyel-bina-cati-izolasyonu.aspx"/>
				</rule>
				<rule name="teras" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="teras-su-yalitimi"/>
					<action type="Rewrite" url="uygulamaAlanlari/teras-su-yalitimi.aspx"/>
				</rule>
				<rule name="uygulamall" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="uygulama-alanlari"/>
					<action type="Rewrite" url="uygulamaAlanlari/uygulama-alanlari.aspx"/>
				</rule>
				<rule name="index" stopProcessing="true" patternSyntax="ExactMatch">
					<match url="anasayfa"/>
					<action type="Rewrite" url="index.aspx"/>
				</rule>


			</rules>				
		</rewrite>
		<modules>
			<!-- This is for IIS7+ Integrated mode -->
		</modules>
	</system.webServer>
</configuration>